*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(13, 241, 203);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(174, 0, 255);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.currency-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.currency-container select {
    padding: 10px;
}

.currency-container  input {
    border: 0;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}

.exchange-rate {
    font-size: 16px;
    font-weight: 600;
}


select:focus,
input:focus{
    outline: none;
}